/* colors */

$clr-root: #ffffff;
$clr-base: #000000;
$clr-primary: #E34234;
$clr-secondary: #05051E;
$clr-bg: #1e1e1e;
$clr-icon: #ff6a71;

/*font family*/

// Muli
$font-light: 'Muli-Light'; //300
$font-regular: "Muli-Regular"; //400
$font-semiBold: 'Muli-SemiBold'; //600
$font-bold: 'Muli-Bold'; //700

/* breakpoints */
$media-mobile: 1023px;
$media-xl: 1600px;
